$blue             : hsl(246, 80%, 60%);
$very-dark-blue   : hsl(226, 43%, 10%);
$dark-blue        : hsl(235, 46%, 20%);
$de-saturated-blue: hsl(235, 45%, 61%);
$pale-blue        : hsl(236, 100%, 87%);

$work-bg-color     : hsl(15, 100%, 70%);
$play-bg-color     : hsl(195, 74%, 62%);
$study-bg-color    : hsl(348, 100%, 68%);
$exercise-bg-color : hsl(145, 58%, 55%);
$social-bg-color   : hsl(264, 64%, 52%);
$self-care-bg-color: hsl(43, 84%, 65%);

$card-title-font-size: 1.125rem;

$font-weight-light : 300;
$font-weight-normal: 400;
$font-weight-bold  : 500;

$mobile-size : 375px;
$desktop-size: 1440px;

$border-radius: 10px;
